*.env
venv
*.gemini_interpreter_history
__pycache__
llm_context.md
build
kogniterm_history.json
.venv
.qodo
.kogniterm/.kogniterm_history
.kogniterm/.project_structure.md
project_structure.md
.project_structure.md
GEMINI.md
.aider*
