python-dotenv
langchain
langchain-core
langgraph
prompt_toolkit
langchain_mcp_adapters
langchain_community
bs4
PyGithub
rich
google-generativeai
jupyter_client
loguru
colorama
gitignore-parser
watchdog
litellm
GitPython
pydantic
pydantic-settings
urllib3<3
nest_asyncio
tiktoken
requests
textual
pyte
fastapi
uvicorn[standard]
sse-starlette
python-telegram-bot
